<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4 mt-3">
    {% for movie in pages.items %}
        <div class="col">
            <div class="card h-100 card-shadow">
                <div class="card-poster">
                    <a href="{{ url_for('app_movies.movie_detail', slug=movie.slug)}}">
                        <img src="{{movie.poster_url}}" class="card-img" alt="{{movie.name_ru}}">
                    </a>
                </div>
                <div class="card-body mt-5">
                    <a href="{{ url_for('app_movies.movie_detail', slug=movie.slug)}}" class="card-link-custom">
                        <h6 class="card-title">{{ movie.name_ru }}</h6>
                    </a>
                    <div class="card-text">
                        <i class="bi bi-calendar3 icon-color"></i>
                        {% if movie.year %}
                            {{movie.year}}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                    <div class="card-text">
                        {% if movie.rating_imdb %}
                            <i class="bi bi-star-fill icon-color"></i>  {{ movie.rating_imdb }}
                        {% else %}
                            <i class="bi bi-star icon-color"></i>  -
                        {% endif %}
                    </div>
                    <div class="d-flex justify-content-start">
                        <small class="text-muted">
                            <i class="bi bi-film icon-color"></i>
                            {% if movie.mod_genres %}
                                {% for genre in movie.mod_genres %}
                                    <a class="card-link-genre" href="#">{{genre}}</a>
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>