<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
            {% for movie in pages.items %}
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="{{ url_for('app_movies.movie_detail', slug=movie.slug)}}" class="card-link">
                            <img src="{{movie.poster_url}}" width=250 height=300 class="card-img-top" alt="{{movie.name_ru}}">
                        </a>
                        <div class="card-body">
                            <a href="{{ url_for('app_movies.movie_detail', slug=movie.slug)}}" class="card-link text-decoration-none text-reset">
                                <h6 class="card-title"><b>{{movie.name_ru}}</b></h6>
                            </a>
                            <br>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    {% if movie.year %}
                                        Год: {{movie.year}}
                                    {% else %}
                                        Год: -
                                    {% endif %}
                                </small>
                            </div>
                            <br>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    Жанры:
                                    {% if movie.mod_genres %}
                                        {% for genre in movie.mod_genres %}
                                            {{genre}}
                                        {% endfor %}
                                    {% else %}
                                        Жанры: -
                                    {% endif %}
                                </small>
                            </div>
                            <br>
                            <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">
                                    {% if movie.rating_imdb %}
                                        IMDB: {{ movie.rating_imdb }} <img src="/static/source/image/star/star-1.png" class="figure-img img-fluid rounded" width="15">
                                    {% else %}
                                        IMDB: 0 <img src="/static/source/image/star/star-3.png" class="figure-img img-fluid rounded" width="15">
                                    {% endif %}
                                </small>
                                <small class="text-muted">
                                    {% if movie.rating_kinopoisk %}
                                        КиноПоиск: {{ movie.rating_kinopoisk }} <img src="/static/source/image/star/star-1.png" class="figure-img img-fluid rounded" width="15">
                                    {% else %}
                                        КиноПоиск: 0 <img src="/static/source/image/star/star-3.png" class="figure-img img-fluid rounded" width="15">
                                    {% endif %}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>