<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

<style>
    .carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
    .carousel-control {
        left: -12px;
    }
    .carousel-control.right {
        right: -12px;
    }
    .carousel-indicators {
        right: 50%;
        top: auto;
        bottom: 0px;
        margin-right: -19px;
    }
    .carousel-indicators li {
        background: #c0c0c0;
    }
    .carousel-indicators .active {
        background: #333333;
    }
</style>

<div class="container">
    <div class="col-xs-12">

        <div class="well">
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/i-250-250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/i-250-250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/i-250-250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/i-250-250.jpg" alt="Image">
                                </a>
                            </div>
                      
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/m-250x250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/m-250x250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/m-250x250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/m-250x250.jpg" alt="Image" >
                                </a>
                       
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/s-250x250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/s-250x250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/s-250x250.jpg" alt="Image">
                                </a>
                            </div>
                            <div class="col-md-3">
                                <a href="#x" class="thumbnail">
                                    <img class="img-responsive" src="https://bootstraptema.ru/snippets/slider/2016/thumbnail/s-250x250.jpg" alt="Image">
                                </a>
                            </div>
                        </div>
                        <!--/row-->
                    </div>
                    <!--/item-->
                </div>
                <!--/carousel-inner--> 
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
        <!--/myCarousel-->
        </div>
        <!--/well-->
    </div>
</div>

<script>
$(document).ready(function() {
 $('#myCarousel').carousel({
 interval: 10000
 })
});
</script>