<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="32x32" type="image/png" href="{{ url_for('static', filename='movie_icon.ico') }}">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min-5.3.6.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-icons.min-1.13.1.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-select.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/choices.min.css') }}">

        <link rel="stylesheet" href="{{ url_for('static', filename='style/custom.css') }}">


        {% block other_scripts_head %}

        {% endblock other_scripts_head %}

        {% block title %}
            {% if title %}
                <title>Flask - {{title}}</title>
            {% else %}
                <title>Flask</title>
            {% endif %}
        {% endblock title %}
    </head>

    <body>
        {% include 'include/menu.html' %}
        <div class="content">
            {% block content %}

            {% endblock content %}
        </div>

        {% include 'include/footer.html' %}

        <script src="{{ url_for('static', filename='bootstrap/js/jquery-3.7.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min-5.3.6.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-select.min-1.14.0-beta3.js') }}"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/choices.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/json5_2.2.3.min.js') }}"></script>

        {% block other_scripts_body %}

        {% endblock other_scripts_body %}
    </body>
</html>