<!DOCTYPE html>
<html lang="ru-RU">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JS в HTML</title>
</head>

<body>

    <div class="kinobox_player"></div>
    <script src="https://kinobox.tv/kinobox.min.js"></script>
    <script>
        new Kinobox('.kinobox_player', {
            search: {
                query: 'Омерзительная восьмерка',
            },
            menu: {
                default: 'menuList',
                mobile: 'menuButton',
                format: '{N} :: {T} ({Q})',
                limit: 5,
                open: false,
            },
            players: {
                alloha: {
                    enable: true,
                    position: 1,
                    token: '{token}'
                },
                kodik: {
                    enable: false,
                    position: 2,
                    token: '{token}'
                },
                // ...
            },
            params: {
                all: {
                    poster: 'https://example.org/poster.jpg',
                },
                alloha: {
                    autoplay: 0
                },
                kodik: {
                    hide_selectors: true
                },
                // ...
            },
            hide: ['videocdn', 'collaps'],
            order: ['kodik', 'alloha'],
        }).init();
    </script>


</body>

</html>