{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 class="gy-5">{{title}}</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% include 'include/filters.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include 'include/search.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include 'include/list_card.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include 'include/pagination.html' %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block other_scripts_body %}
    <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
{% endblock other_scripts_body %}