{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h1 class="gy-5">{{title}}</h1>
            </div>
{#            <div class="col-5">#}
{#                <nav class="navbar navbar-expand-lg navbar-light bg-light gy-5">#}
{#                    <div class="container-fluid">#}
{#                        <div class="collapse navbar-collapse" id="navbarScroll">#}
{#                            {% include 'include/sorted.html' %}#}
{##}
{#                            {% include 'include/search.html' %}#}
{#                        </div>#}
{#                    </div>#}
{#                </nav>#}
{#            </div>#}
        </div>

        <div class="row">
            <div class="col-12">
                {% include 'include/filters.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include 'include/list_card.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% include 'include/pagination.html' %}
             </div>
        </div>
    </div>

{% endblock content %}
