{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}

<h1>Sign In</h1>

<div class="row justify-content-center">
    <div class="col-4">
        <form action="{{ url_for('app_user.login') }}" method="post">
{#            {{ form.csrf_token }}#}
{#            {{ form.hidden_tag() }}#}
            <div class="mb-3">
                <label class="form-label">Email address</label>
                {{ form.email(class_='form-control') }}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password(class_='form-control') }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" name="remember" class="form-check-input">
                <label class="form-check-label">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>


{% endblock content %}