{% extends 'base.html' %}

{% block title %}
    <title>{{ title }}</title>
{% endblock title %}

{% block content %}

    <div class="d-flex justify-content-center align-items-center vertical-centre-block p-2">
        <div class="card p-4 login-form">
            <h2 class="text-center mb-4">Вхід</h2>
            <form class="me-2" action="{{ url_for('app_user.login') }}" method="post">
                {{ form.csrf_token }}

                <div class="form-floating mb-3">
                    {{ form.email(class_='form-control') }}
                    <label for="floatingInput">Email address</label>
                    {% for error in form.email.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="form-floating mb-3">
                    {{ form.password(class_='form-control') }}
                    <label for="floatingPassword">Password</label>
                    {% for error in form.password.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                </div>

                <button type="submit" class="btn btn-dark w-100">Увійти</button>
                {% if form.non_field_errors %}
                    <div class="alert alert-danger mt-3">
                        {% for error in form.non_field_errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock content %}