{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}


{% block content %}

<h1>Register</h1>



<div class="row justify-content-center">
    <div class="col-4">
        <form action="{{ url_for('app_user.register') }}" method="post" novalidate>
            {{ form.csrf_token }}
            {{ form.hidden_tag() }}
            <div class="mb-3">
                <label class="form-label">Your name</label>
                {{ form.username(class_='form-control') }}
                {% for error in form.username.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                {{ form.email(class_='form-control') }}
                {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password(class_='form-control') }}
                {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                {{ form.password2(class_='form-control') }}
                {% for error in form.password2.errors %}
                    <span style="color: red;">{{ error }}</span><br>
                {% endfor %}
            </div>
            {{ form.submit(class_='btn btn-primary') }}
        </form>
    </div>
</div>



{% endblock content %}